.aboutHero {
    width: 100%;
   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    box-sizing: border-box;
   
  
    .herosection {
      width: 90%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 2rem;
      padding: 2rem;
      box-sizing: border-box;
      .content {
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        p {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 400;
          color: #282938;
        }
        h1 {
          font-family: Poppins;
          font-size: 54px;
          font-weight: 600;
          color: #282938;
        }
      }
      .image {
        width: 40%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
         
          
        }
      }
    }
  }
  