div.mainblogs {
  width: 100%;

  .title {
    width: 80%;
    height: 10%;
    text-align: unset;
    margin-left: 8rem;
    padding: 1rem;

    h2 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      color: #282938;
      display: inline-block;
    }
  }
  div.blogs {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    .blog {
      width: 25%;
      display: flex;
      flex-flow: column wrap;
      justify-content: start;
      align-items: center;
      gap: 2rem;
      margin-bottom: 6rem;
      .image {
        width: 100%;

        img {
          width: 100%;
        }
      }
      .description {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: start;
        gap: 1rem;

        span {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          color: #282938;
        }
        h6 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 400;
          color: #282938;
        }
        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          color: #282938;
        }
      }
    }
  }
}
