.howwork {
    width: 100%;
    height: auto;
    background-color: var(--mainWorkBgColor);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: calc(50px + 5vw);
    .Heading {
      width: 80%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 20px;
      .title {
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        color: #282938;
      }
      .description {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: #282938;
      }
      .touch {
        a {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          color: #2405f2;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
    .Cards {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      .card {
        width: 70%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        padding: 2rem;
        box-sizing: border-box;
        margin-top: 20px;
        border: unset;
        .title {
          font-family: Poppins;
          font-size: 32px;
          font-weight: 500;
          color: #282938;
        }
        .content {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          color: #282938;
        }
      }
    }
  }
  