.pricinghead {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: calc(30px + 1vw);
  box-sizing: border-box;
  .content {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 64px;
     text-align: center;
      color: #282938;
    }
    p {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      opacity: 0.7;
      color: #282938;
    }
  }
}
