.whoWeAre {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .description {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #F4F5F5;
    padding: 3rem;
    box-sizing: border-box;
    .firstsection {
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: start;
        gap: 2rem;
      h5{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        color: #282938;
      }
      h3 {
        font-family: Poppins;
        font-size: 38px;
        font-weight: 600;
        color: #282938;
      }
      span {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: #282938;
      }
    }
   .seceondsection{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    h3 {
        font-family: Poppins;
        font-size: 38px;
        font-weight: 600;
        color: #282938;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: #282938;
      }
   }
  }
  .image{

   width: 80%;
   display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
    img{
        width:100%;
    }
  }
}
